<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Envio de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>Nombre: {{name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: {{lastname}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carrera: {{carrera}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Resultado Scanner: {{resultadoScan}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="scan()">
    <ion-icon name="camera" ></ion-icon>
  </ion-button>
  <ion-button routerLink="/inicio">Volver</ion-button>

</ion-content>
