<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina no encontrada</ion-title>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home">Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img id="imagenError"src="/assets/images/1000_F_299617487_fPJ8v9Onthhzwnp4ftILrtSGKs1JCrbh.jpg"></ion-img>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="danger" expand="block" [routerLink]="['/home']" routerLinkActive="router-link-active">
      <ion-icon name="home" slot="start"></ion-icon>
      Volver al home
    </ion-button>
  </ion-toolbar>
</ion-footer>